torch
omegaconf
torchaudio
einops
numpy
transformers
sentencepiece
tqdm
tensorboard
descript-audiotools>=0.7.2
descript-audio-codec
scipy==1.15.1
gradio
flash-attn
sageattention==1.0.6
toml
accelerate>=0.26.0
bitsandbytes