torch
omegaconf
torchaudio
einops
numpy
transformers
sentencepiece
tqdm
tensorboard
descript-audiotools>=0.7.2
descript-audio-codec
scipy==1.15.1
gradio
flash-attn
toml
accelerate>=0.26.0
bitsandbytes
triton
sageattention
mmgp==3.1.4-post15
